# compiled output
/dist
/node_modules

# downloaded local dev server binary
/vendor

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env

# tsc
*.tsbuildinfo
